# NodeJs
node_modules
npm-debug.log

# MAC
.DS_Store
~*

# Project Specific
backup
credentials.js
client_secret.json
memberList.json

# Sass
.sass-cache/
*.css.map

# OpenShift
.openshift

# Bower
bower_components
