section{
    width: 100%;
    padding-top: 20px;
    background-color: rgb(135, 144, 53);
}
section#introduce{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#introduce{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;   
}
img.work{
    max-width: 100%;
    height: auto;
}
div.display{
/*
    border-width: 1px;
    border-style: solid;
    border-color: #bce8f1;   
*/
    text-align: center;
}
div.intro{
    padding: 2rem;   
    font-size: 2rem;
}
p.img-descr{
    padding: 2rem;  
    font-size: 2rem;
    text-align: center;
}