//Global Layout
section{
    &.s1{
        height: 100vh;
        width: 100%;
        position: relative;
        margin:0 auto;
    }
    &.s2{
        background-color: rgb(135, 144, 53);
    }
}

div{
    &.container-box{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &.background{
        background: url(../image/BeDoHave.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &.background-mask{
        background: linear-gradient(rgba(133, 126, 116, 0.8), rgba(133, 126, 116, 0.8));
        padding: 10rem 0 6rem 0;
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
//        position: absolute;
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
    }
}

//Team Status Display
li{
    &.handOver{
        background-color: aquamarine;
    }

    &.missing{
         background-color: plum;
    }
    
    &#member{
        float: left;
        border: 1px solid #FFF;
        height: 60px;
        width: 120px;
        text-align: center;
        line-height: 60px;
    }
}

span{
    &.eg-green{
        color: green;
    }
    &.eg-yellow{
        color: yellow;
    }
    &.eg-blue{
        color: blue;
    }
    &.eg-red{
        color: red;
    }
}


//Google Account
img.avatar{
    border-radius: 50%;
    height: 32px;
    width: 32px;   
}

div{
    &#gLogin{
        display: inline-block;
        background-color: orange;
        padding: 2px 3px 2px 3px;
        border-radius: 25%;   
    }
    &#my-signin2{
        padding: 9px;   
    }
    &#sign-out{
        display:none;
        span{
            text-overflow: ellipsis;
            line-height: 50px;
            font-size: 16px;
        }
    }
}
