<!--Add a New Note-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New note</h3>
    </div>
    <div class="panel-body">
        <span ng-show="noteForm.noteName.$dirty &&    
                                (noteForm.noteName.$error.required
                                 || noteForm.noteName.$error.minlength)">
            This is a required field & minLength is 2
        </span> 
        <form class="form-horizontal" 
                      ng-submit="noteCtrl.saveNote(note)" name="noteForm">
           <div class="row">
            <div class="form-group col-md-offset-2 col-md-10">
                <input type="text" ng-model="note.name" name="noteName"
                              class="notename" ng-minlength="2" required 
                              placeholder="Insert your name here"/>   
            </div>
           </div>
           <div class="row">
            <div class="form-group col-md-offset-2 col-md-10">
                <textarea ng-model="note.description" required
                                    placeholder="Insert note content">
                </textarea>
            </div>
           </div>
           <div class="row">
            <div class="form-group col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit" 
                                       ng-disabled=noteForm.$invalid>
                    Submit
                </button>
            </div>
           </div>
        </form>
    </div>
</div>
     
<!--Show All Notes-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List all note</h3>
    </div>
    <div class="panel-body"> 
        <div ng-repeat="note in noteCtrl.notes">
            <h3>{{note.name}}</h3>
            <span>{{note.description}}</span>       
        </div>     
    </div>
</div>
    
 <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Places</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
           <div id="map-canvas" style="width: 500px; height: 300px"></div>
          </div>
          <div class="col-md-6">
           <div ng-repeat="place in noteCtrl.getPlaces()">
                <div style="display: inline-block; border: 1px solid #CCC;   
                              border-radius:50%; margin-right: 5px;">
                   <span class="glyphicon glyphicon-map-marker" 
                   ng-click="noteCtrl.setMarker(place)" 
                   style="color:blue; font-size:28px;"></span>
                </div>
                <div style="display: inline-block">
                   <span>{{place.city}}</span>
                   <span class="glyphicon glyphicon-time"></span>
                   <span>{{place.time}}</span>
                   <br>
                   <span class="glyphicon glyphicon-road" 
                       ng-show="place.street">
                   </span>
                   <span>{{place.street}}</span>
                </div>
           </div>
          </div>
       </div>
<!--        [{"time":"2015-07-05T17:15:09+0000","city":"Taipei","latitude":24.986416048912,"longitude":121.53989131205},{"time":"2015-05-21T12:05:40+0000","city":"Taichung","latitude":24.134095919269,"longitude":120.68285143912},{"time":"2015-05-13T04:00:00+0000","city":"Taipei","street":"敦化南路二段140號","latitude":25.025587060749,"longitude":121.54887422014},{"time":"2015-04-23T12:03:53+0000","city":"Kaohsiung","latitude":22.646385093403,"longitude":120.34734811391},{"time":"2015-02-19T06:44:00+0000","city":"Taichung","street":"台中市北區三民路三段161號12樓","latitude":24.152462543775,"longitude":120.68521097972},{"time":"2015-01-17T15:52:09+0000","city":"Taipei","street":"信義區松壽路2號","latitude":25.035505224206,"longitude":121.56268855637}]-->
         <button class="btn btn-default" ng-click="noteCtrl.getPlaces()">
            Link FB
         </button>
         <button class="btn btn-default" ng-click="noteCtrl.initMap()">
            G Map
         </button>   
         
    </div>
     
    
     
 </div>
 

<!--<div id="fb-root"></div>-->
<!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=860169177379936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '860169177379936',
      xfbml      : true,
      version    : 'v2.4'
    });
//    FB.login(function(response) {
//        // handle the response
//    }, {scope: 'user_tagged_places'});
      

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/zh_TW/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="flase" data-scope="user_tagged_places" onlogin=""></div>


<div class="g-signin2" data-onsuccess="onSignIn"></div>