<div ng-controller="NavController as ctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ng-href="#/" class="navbar-brand">
                    <span>Be</span>
                    <!--
                        <img src="./image/logo.jpg" style="border-radius: 50%;"></img>
                    -->
                </a>
                <button type="button" ng-click="ctrl.collapse($event)" class="navbar-toggle collapsed" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a ng-href="#/home">Home</a></li>
                    <!--
                    <li><a id="anchor" href="#week">Week</a></li>
                    <li><a ng-href="#/find">Find</a></li>
                    <li><a ng-href="#/note">Note</a></li>
                    <li><a ng-href="#/chat">Chat</a></li>
                    <li><a ng-href="#/about">About</a></li>
                    -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="signinButton" ng-click="ctrl.signin()">Sign in with Google</button>
                        <div id="sign-out">
                            <span id="avatar" style="padding: 9px;"></span>
                            <span id="email"></span>
                            <button ng-click="ctrl.signOut()">Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
</div>

<script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '981468015509-6n46c29co3unjouhobqdphnki0ev5077.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          'scope': 'profile https://www.googleapis.com/auth/drive.metadata.readonly'
        });
      });
    }
</script>
